Azure_scripts/config.json
Depth_inpainting/data_jaime/

#No images allowed
*.png

#No data training
data_middlebury/
data_gdem/

#No outputs from training
outputs/

#No training information
runs/
results/

#ignore pyc files
*.pyc

#ignore cesvima out files
slurm-*

#ignore __pycache__
__pycache__/

#ignore Azure test folder
Test_azure_training/Depth_inpainting/
Azure_scripts/config_blob.json
